
   
     
  

  /* Mine */
  /* Hero section */
  .hero-section{
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    gap: 30px; 
    
  }
  
  .hero-img{
    width: 320px;
    height: 380px;
    
  }
  .hero-img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    
  }
  .hero-content{
    display: flex;
    flex-direction: column;
    
    max-width: 400px;
  }
  .hero-alert{
    color: rgb(219, 1, 1);
    font-size: 16px;
  }
  .hero-title{
    line-height: 40px;
    margin-top: 0;
   
  }
  .read-more-link{
    margin-top: 10px;
  }
  .read-more-link a{
    color: #333333;
  }
  .read-more-link a:hover{
    color: #666666;
  }

  .divider-line{
    background: #222;
    height: 2px;
    width: 100%;   
  }

  /* ------------------------- Blogs section --------------------------------- */

  .blogs-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 0;
    gap: 20px;
  }
  

  .blog{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    
  }

  .blog-img{
    width: 100px;
    height: 120px;
  }

  .blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }
.blog-title{
  margin: 10px 0;
  line-height: 35px;
}
.blog-text{
  line-height: 25px;
}


/* --------------- Media quaries ---------------- */

@media screen and (max-width:1000px){

  .blogs-section{
    padding: 60px 0;
  }
  .hero-section{
    padding: 60px 0;
  }
}

@media screen and (max-width:870px){

  .blogs-section{
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-section{
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
}

@media screen and (max-width:500px){
 .blogs-section{
  grid-template-columns: repeat(1, 1fr);
 }

 .hero-title{
  font-size: 30px;
 }

}