<%- include("header") -%>
<div class="about">
  <h1 class="about-me">About Me</h1>

  <p>
    I am Somveer Kumar, a Web Developer who has build this todo list app using
    inspiration from Angela Yu's Web Development course on Udemy...
  </p>
  <h2 class="contacts">Contacts</h2>
  <p>Email : daapcoder@gmail.com</p>
</div>

<%- include("footer") -%>
